<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/nikola.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Hey, I'm Nikola</h4>
                                    <!-- <h4 class="subheading">consultancy from Berlin</h4> -->
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">In the last 10 years I've been working as a <b>Software Engineer and Data Scientist</b> at various Startups in Berlin and
                                    remote. The knowledge and experience I gathered is invaluable and <b>I'm offering a share</b>! &#128521;</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <!-- <img class="img-circle img-responsive" src="img/about/2.jpg" alt=""> -->
                                <h4>You learn<br>from your<br>data</h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>BI Outsourced</h4>
                                    <h4 class="subheading">consultancy from Berlin</h4>
                                </div>
                                <div class="timeline-body">
                                  <p class="text-muted">Started in 2019 as a freelance <b>
                                    consultancy
                                  </b>, BI Outsourced is on a mission to provide small and mid-size organisations with <b>
                                    quicker,
                                    cost-efficient
                                  </b> and more <b>reliable</b> way to get from Collecting - to <b>Learning from data</b>.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
