  <!-- Services -->
  <section id="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Services</h2>
          <h3 class="section-subheading text-muted">BI Outsourced provides strategic <b>consulting and implementation services</b> everywhere where you work (or not yet!) with data.</h3>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-database fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Data Warehouse &amp; ETL Design</h4>
          <p class="text-muted">Querying raw data directly for analytics could be efficient at first, but as data grows complicated analytics quickly become slow. BIO designs and implements custom analytics data
          warehouse and implements the ETL processes between your data sources and the analytics DB.</p>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="far fa-chart-bar fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Business Intelligence</h4>
          <p class="text-muted">We work with you to understand and model your organisation's specific <b>Business Intelligence needs</b> and implement solutions into your workflow, enabling everybody to know what (and
          when)
          they need to know. For example by an <b>improved data querying</b> and the right <b>Business Intelligence Dashboard Tool</b>...</p>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-magic fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Data Science</h4>
          <p class="text-muted">We build custom <b>data science products</b> for you - alongside your own data science and engineering teams, or as your external data science provider. We deliver
          models and analysis, or complete <b>production-quality implementations</b> - depending on your needs. And we host &amp; maintain our solutions for you!</p>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-pencil-ruler fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Monitoring, Reporting &amp; KPIs</h4>
          <p class="text-muted">Measuring business performance is important for management and investors. But teams could also benefit from <b>knowing their own</b> contribution to the company's
          success. We help you define integrated, organisation-wide KPIs and track them <b>better</b> than sending tons of spreadsheets and CSVs on Mondays!</p>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-tasks fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Project Management</h4>
          <p class="text-muted">Projects in data management, research and analysis, as well as building Data Science and Business Intelligence products, have their <b>unique workflows</b>. We advise
          companies with various levels of tech-competence during all stages of
          <b>planning, executing and iterating</b> on such projects.</p>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-chart-line fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">???</h4>
          <p class="text-muted">We provide expertise in Data Exploration, Solution to Data Science projects etc. Experience with Data Visualisation and R Pythong and ML and all that shit!</p>
        </div>
      </div>
    </div>
  </section>
