<!-- technology Grid Section -->
    <section id="technology" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Technology</h2>
                    <h3 class="section-subheading text-muted">Our technological focus lies primarily on delivering <b>Data Science and BI Solutions</b> based on <b>Open Source</b> technologies. Bringing
                      <b>Automataion</b> into our customers'
                      workflows is a main goal for us. From collecting and processing data, to analysing, learning from it and delivering insights to stakeholers!
                      </h3>
                </div>
            </div>
            <div class="row">
            <!-- % for post in site.posts % -->
                <div class="col-md-4 col-sm-6 technology-item">
                    <!-- <a href="#technologyModal{{ post.modal-id }}" class="technology-link" data-toggle="modal"> -->
                    <!--     <div class="technology-hover"> -->
                    <!--         <div class="technology-hover-content"> -->
                    <!--             <i class="fa fa-plus fa-3x"></i> -->
                    <!--         </div> -->
                    <!--     </div> -->
                    <!--     <img src="img/technology/{{ post.thumbnail }}" class="img-responsive img-centered" alt=""> -->
                    <!-- </a> -->
                    <div class="technology-caption">
                        <h4>Database Engineering</h4>
                        <p class="text-muted">PostgreSQL</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 technology-item">
                    <!-- <a href="#technologyModal{{ post.modal-id }}" class="technology-link" data-toggle="modal"> -->
                    <!--     <div class="technology-hover"> -->
                    <!--         <div class="technology-hover-content"> -->
                    <!--             <i class="fa fa-plus fa-3x"></i> -->
                    <!--         </div> -->
                    <!--     </div> -->
                    <!--     <img src="img/technology/{{ post.thumbnail }}" class="img-responsive img-centered" alt=""> -->
                    <!-- </a> -->
                    <div class="technology-caption">
                        <h4>Programming &amp; Scripting</h4>
                        <p class="text-muted">SQL, PL/pgSQL, Python, R, Go, Ruby</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 technology-item">
                    <!-- <a href="#technologyModal{{ post.modal-id }}" class="technology-link" data-toggle="modal"> -->
                    <!--     <div class="technology-hover"> -->
                    <!--         <div class="technology-hover-content"> -->
                    <!--             <i class="fa fa-plus fa-3x"></i> -->
                    <!--         </div> -->
                    <!--     </div> -->
                    <!--     <img src="img/technology/{{ post.thumbnail }}" class="img-responsive img-centered" alt=""> -->
                    <!-- </a> -->
                    <div class="technology-caption">
                        <h4>Deployment &amp; Automation</h4>
                        <p class="text-muted">UNIX Automation, Airflow, Heroku, AWS</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 technology-item">
                    <!-- <a href="#technologyModal{{ post.modal-id }}" class="technology-link" data-toggle="modal"> -->
                    <!--     <div class="technology-hover"> -->
                    <!--         <div class="technology-hover-content"> -->
                    <!--             <i class="fa fa-plus fa-3x"></i> -->
                    <!--         </div> -->
                    <!--     </div> -->
                    <!--     <img src="img/technology/{{ post.thumbnail }}" class="img-responsive img-centered" alt=""> -->
                    <!-- </a> -->
                    <div class="technology-caption">
                        <h4>Data Science</h4>
                        <p class="text-muted">R, Python, TensorFlow</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 technology-item">
                    <!-- <a href="#technologyModal{{ post.modal-id }}" class="technology-link" data-toggle="modal"> -->
                    <!--     <div class="technology-hover"> -->
                    <!--         <div class="technology-hover-content"> -->
                    <!--             <i class="fa fa-plus fa-3x"></i> -->
                    <!--         </div> -->
                    <!--     </div> -->
                    <!--     <img src="img/technology/{{ post.thumbnail }}" class="img-responsive img-centered" alt=""> -->
                    <!-- </a> -->
                    <div class="technology-caption">
                        <h4>Data Visualisation</h4>
                        <p class="text-muted">Metabase, R, Shiny, Jupyter Notebooks</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 technology-item">
                    <!-- <a href="#technologyModal{{ post.modal-id }}" class="technology-link" data-toggle="modal"> -->
                    <!--     <div class="technology-hover"> -->
                    <!--         <div class="technology-hover-content"> -->
                    <!--             <i class="fa fa-plus fa-3x"></i> -->
                    <!--         </div> -->
                    <!--     </div> -->
                    <!--     <img src="img/technology/{{ post.thumbnail }}" class="img-responsive img-centered" alt=""> -->
                    <!-- </a> -->
                    <div class="technology-caption">
                        <h4>Data Visualisation</h4>
                        <p class="text-muted">Metabase, R, Shiny, Jupyter Notebooks</p>
                    </div>
                </div>
            <!-- % endfor % -->
            </div>
        </div>
    </section>
